<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contact_entity_index_listing_source" xsi:type="string">contactEntityCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="contactEntityCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">contact_entity</argument>
            <argument name="resourceModel" xsi:type="string">Smile\Contact\Model\ResourceModel\ContactEntity</argument>
        </arguments>
    </virtualType>
</config>
